.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage__list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.advantage__borger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--background-color);
}

.advantage__list-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.advantage__list-text {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--text-color);
}