.our-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-client {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list-client {
  display: flex;
  align-items: center;
  gap: 30px;
}

.item-client {
  width: 170px;
  height: 92px;
}

.link-client {
  padding: 16px 32px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-anime);

  &:hover,
  &:focus {
    border-color: #188ce8;
  }
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-anime);

  .link-client:focus &,
  .link-client:hover & {
    fill: var(--accent-color);
  }
}
