:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-color: #000000;
  --background-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --footer-link: rgba(255, 255, 255, 0.6);
  --cubic-anime: cubic-bezier(0.4, 0, 0.2, 1);
}